@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
  background-color: #16a085;
}


.tag-line {
  font-size: 13px;
}

#quote-box {
  background: white;
  display: table;
  border-radius: 30px;
  padding: 40px 50px;
  margin-left: auto;
  margin-right: auto;  
  margin-top: 10%;
}


h1 {
  font-family: roboto; 
  text-align: center;
}

p {
  text-align: center;
}

#text {
  text-align: center;
}

#quote-text {
  font-size: 30px;
  font-family: 'Dosis', sans-serif;  
}

.fa {
      font-size: 20px;
      margin-right: 0.9em;
      margin-left: 0.9em;
    }

#author-name {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  
}

#new-quote {
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 15px;
  color; black;
  }

#twitter-button {
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 9%;
  font-size: 15px;
  color: black;
}

#footer {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 11px;
}




